
button {
    border: unset;
    background-color: unset;
    display: flex;
    align-items: flex-end;
    gap: 4px;
    padding: 4px 8px;
    cursor: pointer;
    color: var(--base);

    &:hover {
        color: var(--base-dark);
    }
}

.clear-button-menu-trigger {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 4px 8px;
    cursor: default;
    color: var(--base);
}

.clear-button-wrapper {
    display: flex;
    align-items: center;
    width: 80px;
    min-width: 80px;
    max-width: 80px;
    overflow-x: hidden;
    transition: all .2s ease;
    
    &.expanded {
        min-width: 240px;
        max-width: 240px;
        width: auto;
    }
}

.topbar {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--base-light);

}

.tools {
    width: 100%;
    display: flex;
    border-bottom: 1px solid var(--grey-light);
    
    .left, .right {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 12px;
        padding: 8px 16px;

        h2 {
            color: var(--grey-darker);
            font-size: 1.1em;
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
}

.length {
    font-size: .9em;
}

.light {
    opacity: .5;
}

span.material-symbols-outlined {
    font-size: 1.2em;
}

ngx-monaco-diff-editor {
    height: calc(100vh - 40px);
    max-width: 100vw;
}