

:root {
    --base-light: #77bbe9;
    --base: #3498db;
    --base-dark: #2980b9;

    --grey-light: #f3f3f3;
    --grey: #edf5ff;
    --grey-dark: #7f8c8d;
    --grey-darker: #314860;
    --editor-background: #ffffff;

}

:root[data-theme='dark'] {
    --base-light: #8ed0ff;
    --base: #4aa9e9;
    --base-dark: #1d6f9f;

    --grey-light: #18222d;
    --grey: #344454;
    --grey-dark: #a7b7c7;
    --grey-darker: #edf5ff;
    --editor-background: #18222d;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body *:not(.monaco-editor, .monaco-editor *) {
    transition: all .2s;
}

h1, h2 {
    font-weight: 400;
}

body {
    overflow-x: hidden;
    background: var(--grey-light);
    color: var(--grey-darker);
}

.debug {
    outline: 1px dashed lime;
}
