
h1 {
    font-size: 2em;
    font-weight: 300;
    color: var(--base);
    display: flex;
    align-items: center;
    gap: 0.5rem;

    span {
      font-size: 3rem;
    }
}

.page-title {
  width: min(100vw, 1200px);
  margin: 0 auto;
  padding: 4rem 5rem 0 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  padding: 5rem;
  width: min(100vw, 1200px);
  margin: 0 auto;
  display: flex;
  gap: 0.5rem;
}

button.theme-button {
  background-color: unset;
  border: unset;
  color: var(--base);
  cursor: pointer;
  display: flex;
  padding: 0.5rem;
}

button.theme-button:hover {
  color: var(--base-dark);
}

button.tile-button {
  background-color: unset;
  border: 1px solid var(--base-light);
  box-shadow: 0 0 5px var(--grey);
  width: 200px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: var(--base-light);
  cursor: pointer;
 
  .tile-icon {
    font-size: 2rem;
  }

  .tile-description {
    font-size: 0.8rem;
  }
}

button.tile-button:hover {
  background-color: var(--base-light);
  box-shadow: 0 0 10px var(--base-dark);
  color: var(--grey-light);
}

button.tile-button:active {
  background-color: var(--base);
  box-shadow: 0 0 10px var(--base-dark);
  color: var(--grey-light);
}
